:root {
    --white: #F6F6F8;
    --black: #080708;
    --purple: #6D4D88;
    --green: #1A936F;
    --coral: #F7717D;
    --primary: var(--purple);
    --accent: var(--coral);

    --card-border-radius: 1.5rem;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(21, 19, 24, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    text-align: left;

    background: var(--purple);
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-wrap: balance;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-wrap: pretty;
}


section {
    --gradient-light-top-right: 213deg;
    --gradient-light-bottom-right: 327deg;

    min-height: 200vh;
    width: 100%;
    margin: auto;
    padding: 1rem;

    background:
        linear-gradient(var(--_gradient-position),
            var(--white) 0%,
            hsla(273, 33%, 62%, 1) 41%,
            var(--purple) 100%);
}

section:nth-of-type(odd) {
    --_gradient-position: var(--gradient-light-top-right);
}

section:nth-of-type(even) {
    --_gradient-position: var(--gradient-light-bottom-right);
}

.hero-section {
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding-top: 5rem;

    text-align: center;

    overflow: hidden;
}

.hero-section footer {
    position: sticky;
    top: 80%;
}

.hero-card-deck {
    position: relative;
    width: 100vw;
    height: 100%;
}

.hero-card-deck img {
    --img-width: clamp(135px, 300px, 30vw);
    --img-rotation: 10deg;
    --_spread-distance: calc(50% - var(--img-width) - clamp(2rem, 8%, 5rem));

    width: var(--img-width);
    box-shadow: 0 0 2rem 0.5rem var(--black);
    border-radius: var(--card-border-radius);

    position: absolute;
}

.hero-card-deck img:first-of-type {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.hero-card-deck img:not(:first-of-type) {
    top: 2rem;
}

.hero-card-deck img:not(:first-of-type):nth-of-type(odd) {
    transform: rotate(var(--img-rotation));
    right: var(--_spread-distance);
}

.hero-card-deck img:not(:first-of-type):nth-of-type(even) {
    transform: rotate(calc(var(--img-rotation) * -1));
    left: var(--_spread-distance);
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    width: clamp(250px, 350px, 100%);
    aspect-ratio: 2.5 / 3.5;
    border-radius: var(--card-border-radius);
    position: relative;

    padding: 4rem;
}

.card>* {
    z-index: 1;
    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.card::before {
    inset: 0;
    background-color: var(--black);
}

.card:after {
    inset: 3rem;
    background-color: hsl(from var(--purple) h s calc(l * 0.8));
}