:root {
    --white: #F6F6F8;
    --black: #080708;
    --purple: #6D4D88;
    --green: #1A936F;
    --coral: #F7717D;
    --primary: var(--purple);
    --accent: var(--coral);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(21, 19, 24, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    text-align: left;

    background: var(--purple);
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


section {
    --gradient-light-top-right: 213deg;
    --gradient-light-bottom-right: 327deg;

    min-height: 200vh;
    width: 100%;
    margin: auto;
    padding: 1rem;

    background:
        linear-gradient(var(--_gradient-position),
            var(--white) 0%,
            hsla(273, 33%, 62%, 1) 41%,
            var(--purple) 100%);
}

section:nth-of-type(odd) {
    --_gradient-position: var(--gradient-light-top-right);
}

section:nth-of-type(even) {
    --_gradient-position: var(--gradient-light-bottom-right);
}

.main-section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    aspect-ratio: 2.5 / 3.5;
    border-radius: 2rem;
    position: relative;

    padding: 4rem;
}

.card>* {
    z-index: 1;
    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.card::before {
    inset: 0;
    background-color: var(--black);
}

.card:after {
    inset: 3rem;
    background-color: hsl(from var(--purple) h s calc(l * 0.8));
}